.footer-container {
    background: linear-gradient(90deg, rgb(70, 204, 81) 0%, rgb(197, 211, 0) 100%);
    padding: 2.3rem 0 2rem 0;
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.social-icons{
    letter-spacing: 0.7rem;
}

i, i:focus, i:visited, i:active { 
    text-decoration: none; 
    color:white; 
}

.i:hover {
    color:lightslategray;
}

@media screen and (max-width: 500px) { 
    .footer-container {
        font-size:0.8rem;
    }
}

@media screen and (max-width: 370px) { 
    .footer-container {
        font-size:0.6rem;
    }
}

